


<h1>Create New Race Deadline</h1>

<%= form_with model: [:admin, @race_deadline], local: true, class: "form-container" do |form| %>
  <% if @race_deadline.errors.any? %>
    <div class="errors">
      <h3><%= pluralize(@race_deadline.errors.count, "error") %> prohibited this deadline from being saved:</h3>
      <ul>
        <% @race_deadline.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :race_type, "Race Type" %>
    <%= form.select :race_type,
        options_for_select([["5k", "5k"], ["Bronco (1.2k)", "bronco"]], @race_deadline.race_type),
        { prompt: "Select race type" },
        { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :start_date, "Start Date" %>
    <%= form.date_field :start_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :due_date, "Due Date" %>
    <%= form.date_field :due_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Create Race Deadline", class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_race_deadlines_path, class: "btn btn-secondary" %>
  </div>
<% end %>
