<h1>Edit Run</h1>

<%= form_with model: @run, local: true do |form| %>
  <% if @run.errors.any? %>
    <div class="errors">
      <ul>
        <% @run.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </div>
  <div>
    <%= form.label :time, "Time (mm:ss)" %><br>
    <%= form.text_field :time, placeholder: "e.g. 25:30", value: format_time(@run.time) %>
  </div>
  <div class="btn-group">
    <%= form.submit "Update Run", class: "btn" %>
    <%= link_to "Cancel", root_path, class: "btn btn-secondary" %>
  </div>
<% end %>
